<div class="mui-paper-container mui-z-depth-bottom">
  {{mui-ripple rippleEventBinding="_rippleEvent" muiClass="mui-flat-button-ripple"}}
  <a class="mui-paper-button-content">
    {{yield}}
  </a>
</div>